{{- $flavor      := promptStringOnce . "flavor"          "Distro flavor (fedora-atomic/arch/debian/macos)" -}}
{{- $de          := promptStringOnce . "de"              "Desktop env (gnome/kde/hyprland/none)" -}}
{{- $fileManager := promptStringOnce . "fileManager"     "File manager (yazi/nemo)" -}}
{{- $name        := promptStringOnce . "gitName"         "Git full name" -}}
{{- $email       := promptStringOnce . "gitEmail"        "Git email" -}}
{{- $unsplash    := promptStringOnce . "unsplashApiKey"  "Unsplash API key (blank to skip)" -}}

[data]
  flavor         = {{ $flavor      | quote }}
  de             = {{ $de          | quote }}
  fileManager    = {{ $fileManager | quote }}
  gitName        = {{ $name        | quote }}
  gitEmail       = {{ $email       | quote }}
  unsplashApiKey = {{ $unsplash    | quote }}
